/*
DEFULAT RESOLUTION --> 360x640 [default_res.360x640.scss]
*/

@include bp(xSmall){
	$app__header--height:3rem;

	html{
		font-size: 15px;
	}

	.app__header{
		height:$app__header--height;
		background-color:$app__color--dark;
		padding: 0 1rem;

		> * {
			line-height: $app__header--height;
			display: inline-block;
		}

		.logo{
			padding-left: 0.5rem;
		}

		img{
			width: 2.5rem;
			vertical-align: middle;
		}

		h2{
			color: $app__color--accent;
			font-size: 1.4rem;
			vertical-align: sub;
			font-style: italic;
		}

		.menu{
			float: left;
			color: $app__color--accent;
		}
	}

	.content{
		padding: 1rem;

		.containerA{
			position: relative;
			border-radius: $app__defaults--border-radius;
			overflow: hidden;

			h2{
				position: absolute;
				//bottom: 0;
				text-align: center;
				width: 100%;
				padding: 0.5rem 0;
				background-color: rgba(255, 255, 255, 0.6);
				color: $app__color--dark;
				font-size: 1.5rem;
				box-shadow:$app__defaults--box-shadow;
			}

			.img{
				background: url("../assets/images/shedA.jpg") no-repeat;
				background-size: cover;
				height: 16rem;
				width: 100%;
			}
		}

		.containerB{
			border-bottom: 2px solid $app__color--base;
			padding: 0.6rem 0 0.2rem;
			font-size: 1.2rem;

			.outer{
				padding-right: 1rem;
				width: 50%;
			}
		}

		.containerC{
			padding-top: 0.5rem;
		}

		.containerB,
		.containerC{
			> div{
				width:50%;
			}

			.inner{
				float: left;
				width: 50%;
			}

			label{
				font-weight: bold;
				font-family: appWebFont;
			}
		}

		.features{
			margin: 0.5rem 0;

			li{
				/* width: 50%;
				text-align: center;
				float: right; */

				& > div{
					display: inline-block;
				}

				& > div:first-child{
					$size: 2rem;

					font-size: 1.5rem;
					color: #fff;
					width: $size;
					height: $size;
					border-radius: $app__defaults--border-radius;
					background-color: $app__color--base;
					line-height: $size;
					margin-bottom: 0.5rem;
					text-shadow:$app__defaults--text-shadow;
					text-align: center;
				}
			}

			.txt{
				font-size: 1.4rem;
				padding-right: 0.5rem;
			}

			.disclaimer{
				font-size: 0.6rem;
			}

			.fa-ils{
				text-indent: -4px;
			}
		}

		details{
			//transition: $app__defaults--transition;	
			//animation-duration: 800ms;
			//animation-timing-function:ease-in-out; 
			margin-top: 0.5rem;

			&:not([open]) { 
				//height: 1.25em; 
				animation-name: slideUp;				
				
				i{
					transform: rotate(45deg);
				}
			}

			&[open] { 
				//height: 6.50em;
				animation-name: slideDown;
			}

			i{   
				transition: $app__defaults--transition;
				background-color: #fff;
				position: absolute;
				bottom: -0.8rem;
				margin-right: -0.5rem;
				font-size: 1.5rem;
			}

			.containerB{
				position: relative;
			}

			h2{
				padding-right: 1rem;
			}
		}

		summary{
			//transition: $app__defaults--transition;	
			margin-bottom: 0.5rem;

			&::-webkit-details-marker {
				display: none;
			}

			&:focus{
				outline: none;
			}
		}

	}
}
