@font-face {
  font-family: 'appWebFont';
  src: url('../assets/fonts/simple/SimpleCLM-Medium.ttf')  format('truetype');
}

@font-face {
  font-family: 'appWebFontBold';
  src: url('../assets/fonts/simple/SimpleCLM-Medium.ttf')  format('truetype');
}