//* dimensions
//---------------dimensions

$app__header--height:5rem;
$app__header--height:5rem;
$app__defaults--border-radius:5px;
$app__defaults--transition:all 0.3s ease;
$app__defaults--text-shadow: 3px 3px 1px $app__color--dark;
$app__defaults--box-shadow: 3px 3px 6px 0px $app__color--dark;
