/* line 5, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*

*/
/******************************************/
@font-face {
  font-family: 'appWebFont';
  src: url("../assets/fonts/simple/SimpleCLM-Medium.ttf") format("truetype");
}
@font-face {
  font-family: 'appWebFontBold';
  src: url("../assets/fonts/simple/SimpleCLM-Medium.ttf") format("truetype");
}
/*
DEFULAT RESOLUTION --> 360x640 [default_res.360x640.scss]
*/
@media only screen and (max-width: 320px) {
  /* line 8, _default_res.scss */
  html {
    font-size: 15px;
  }

  /* line 12, _default_res.scss */
  .app__header {
    height: 3rem;
    background-color: #304D4E;
    padding: 0 1rem;
  }
  /* line 17, _default_res.scss */
  .app__header > * {
    line-height: 3rem;
    display: inline-block;
  }
  /* line 22, _default_res.scss */
  .app__header .logo {
    padding-left: 0.5rem;
  }
  /* line 26, _default_res.scss */
  .app__header img {
    width: 2.5rem;
    vertical-align: middle;
  }
  /* line 31, _default_res.scss */
  .app__header h2 {
    color: #F0D699;
    font-size: 1.4rem;
    vertical-align: sub;
    font-style: italic;
  }
  /* line 38, _default_res.scss */
  .app__header .menu {
    float: left;
    color: #F0D699;
  }
}
/* line 13, main.scss */
html {
  direction: rtl;
}

/* line 18, main.scss */
body {
  font-family: 'appWebFont', sans-serif;
  background-color: #8A9E52;
}

/* line 24, main.scss */
html,
body,
.main {
  height: 100%;
}
