//* compass imports
@import 'compass';
@import 'compass/reset';

//* app imports
@import 'extendables';
@import 'mixins';
@import 'fonts';
@import 'skin';
@import 'animations';
@import 'default_res';

//* base layout
html{ 
	//font-size: 10px;
	direction: rtl;
}

body{
	font-family: 'appWebFont', sans-serif;
	//font-size: 1.6rem;
	//background-color: $app__color--light;
	color:$app__color--dark;
}

html,
body,
.main{
	height:100%; 
}


//* pseudo
/* summary::-webkit-details-marker,
summary::details-marker {
	display: none;
} */
